---
import Layout from "#layouts/Layout";
import { Button } from "#ui/button";

import Img from "#utils/Img.astro";

import img1 from "#assets/img1.jpg";
import img2 from "#assets/img2.jpg";
import img3 from "#assets/img3.jpg";
---

<Layout>
	<section class="container mx-auto">
		<h1 class="my-10 text-center clamp-[1.2rem-10vw-2.5rem] font-bold">
			An responsive Image component for Astro
		</h1>
		<div class="mb-4 flex flex-wrap justify-center gap-4 p-6">
			<Img
				src={img1}
				alt={`Random image 1`}
				width={350}
				height={500}
				className="rounded-md"
				useAstroImage={true}
				transition:name="wobble"
			/>
			<Img
				src={img2}
				alt={`Random image 2`}
				width={350}
				height={500}
				className="rounded-md"
				useAstroImage={true}
			/>
			<Img
				src={img3}
				alt={`Random image 3`}
				width={350}
				height={500}
				className="rounded-md"
				useAstroImage={true}
			/>
		</div>
		<div class="border-primary-gradient h-20 w-20 rounded-full"></div>
	</section>
	<!-- <div class="flex flex-wrap gap-4 justify-center mb-4 p-6">

      {
        Array.from({ length: 250 }).map((_, index) => (
          <Img
            src={`https://picsum.photos/800/600?random=${index}`}
            alt={`Random image ${index + 1}`}
            width={300}
            height={500}
            className="rounded-md"
          />
        ))
      }
    </div> -->
	<!-- <Test client:load /> -->

	<div class="flex flex-col items-center justify-center">
		<Button href="/test" className="">Test</Button>
	</div>
</Layout>
