---
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/ui/button";

import { Test } from "@/components/Test";
import Img from "@/components/utils/Img2.astro";

import img1 from "@/assets/img1.jpg";
import img2 from "@/assets/img2.jpg";
import img3 from "@/assets/img3.jpg";
---

<Layout>
  <main>
    <!-- <Button href="/test" className="mt-10 mx-auto block text-center w-fit">
      Test
    </Button> -->

    <div class="flex flex-wrap gap-4 justify-center mb-4 p-6">
      <Img
        src={img1}
        alt={`Random image 1`}
        width={300}
        height={500}
        className="rounded-md"
        useAstroImage={true}
      />
      <Img
        src={img2}
        alt={`Random image 2`}
        width={300}
        height={500}
        className="rounded-md"
        useAstroImage={true}
      />
      <Img
        src={img3}
        alt={`Random image 3`}
        width={300}
        height={500}
        className="rounded-md"
        useAstroImage={true}
      />
    </div>
    <div class="flex flex-wrap gap-4 justify-center mb-4 p-6">
      {
        Array.from({ length: 550 }).map((_, index) => (
          <Img
            src={`https://picsum.photos/800/600?random=${index}`}
            alt={`Random image ${index + 1}`}
            width={300}
            height={500}
            className="rounded-md"
          />
        ))
      }
    </div>
    <!-- <Test client:load /> -->
  </main>
</Layout>
