---
import type { TImage, Trobots, Author } from "@/types";
type Props = {
  url?: string | URL;
  title?: string;
  description?: string;
  robots?: Trobots;
  ogTitle?: string;
  ogImage?: TImage;
  keywords?: string[];
  author?: Author;
};
import {
  siteData,
  twitterMetaData as twMetaData,
  icons,
} from "@/lib/data/siteData";
const {
  url = Astro.url,
  title,
  description,
  robots = siteData.robotsDefault,
  keywords = siteData.keywords,
  ogTitle,
  ogImage,
  author,
  ...props
}: Props = Astro.props;

let siteTitle = title ? `${title} / ${siteData.name}` : siteData.name;
---

<meta
  name="theme-color"
  media="(prefers-color-scheme: light)"
  content={siteData.metadata_color.light}
/>
<meta
  name="theme-color"
  media="(prefers-color-scheme: dark)"
  content={siteData.metadata_color.dark}
/>

<title>{siteTitle}</title>
<meta name="description" content={description || siteData.description} />
<meta name="author" content={author?.name || siteData.author.name} />
<link rel="author" href={author?.url || siteData.author.url} />
<link rel="manifest" href="/site.webmanifest" />
<meta name="keywords" content={keywords.join(", ")} />
<meta name="creator" content={author?.name || siteData.author.name} />
<meta name="publisher" content={siteData.publisher} />
<meta name="robots" content={robots} />
<link rel="canonical" href={url} />

<!-- og metadata -->
<meta property="og:title" content={ogTitle || siteTitle} />
<meta property="og:description" content={description || siteData.description} />
<meta property="og:url" content={url} />
<meta property="og:site_name" content={siteData.baseUrl} />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content={ogImage?.src || siteData.ogImage.src} />
<meta property="og:image:url" content={ogImage?.src || siteData.ogImage.src} />
<meta
  property="og:image:width"
  content={ogImage?.width?.toString() || siteData.ogImage.width?.toString()}
/>
<meta
  property="og:image:height"
  content={ogImage?.height?.toString() || siteData.ogImage.height?.toString()}
/>
<meta property="og:image:alt" content={ogImage?.alt || siteData.ogImage.alt} />
<meta property="og:type" content="website" />

<!-- tw metadata -->
<meta name="twitter:card" content={twMetaData.card} />
<meta name="twitter:site" content={`@${siteData.publisher}`} />
<meta name="twitter:creator" content={author?.name || twMetaData.creator} />
<meta name="twitter:title" content={title || twMetaData.title} />
<meta
  name="twitter:description"
  content={description || twMetaData.description}
/>
<meta name="twitter:image" content={ogImage?.src || twMetaData.image} />
<meta name="twitter:image:alt" content={ogImage?.alt || twMetaData.title} />
<meta name="twitter:domain" content={url} />

<!-- icons -->
<link rel="shortcut icon" href={icons.shortcut} />
<link rel="icon" href={icons.icon} />
<link rel="apple-touch-icon" href={icons.apple} />

<!-- <link rel="sitemap" href="/sitemap-index.xml" /> -->
<meta name="generator" content={Astro.generator} />
